
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;;
    background-color: rgb(98, 101, 103);

}

header{
    background-color: rgb(121, 125, 127);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    color: rgb(202, 207, 210);
    text-decoration: none;

}

#Buscador{

}

#Subtitulo{
    color: rgb(202, 207, 210);
    margin: 20px 15px;
}

#Populares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#Peliculas{
    background-color: rgb(121, 125, 127);
    text-align: center;
    margin: 0px 0px 10px 0px;
}

#Textos{
    text-decoration: none;
    color: rgb(202, 207, 210);
}

#Textos:hover{
    color: rgb(27, 38, 49);
}

#Arg1985{
    width: 340px;
    height: 390px;
}

#JuegoDeHonor{
    width: 340px;
    height: 390px;
}

#Interestelar{
    width: 340px;
    height: 390px;
}

#Origen{
    width: 340px;
    height: 390px;
}

#FightClub{
    width: 340px;
    height: 390px;
}

#TheIntern{
    width: 340px;
    height: 390px;
}

#Cosas{
    width: 340px;
    height: 390px;
}

#NottingHill{
    width: 340px;
    height: 390px;
}




footer{
    background-color: rgb(121, 125, 127);
    padding: 20px;
}

footer h4 {
    color: rgb(202, 207, 210);
    display: flex;
    justify-content: center;
}

