/* Home */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;;
    background-color: rgb(142, 68, 173);
    position: relative; /* necesito esto tambien para o del footer */
}

header{
    background-color: rgb(108, 52, 131);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

header nav a{
    color: rgb(202, 207, 210);
    text-decoration: none;
    font-size: 25px;

}

.Subtitulo{
    color: rgb(202, 207, 210);
    margin: 20px 15px;
}

.Populares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Peliculas{
    background-color: rgb(108, 52, 131);
    text-align: center;
    margin-bottom: 10px;
}

.Textos{
    text-decoration: none;
    color: rgb(202, 207, 210);
}

.Textos:hover{
    color: rgb(27, 38, 49);
}

#Arg1985{
    width: 340px;
    height: 390px;
}

#Juegodehonor{
    width: 340px;
    height: 390px;
}

#Interestelar{
    width: 340px;
    height: 390px;
}

#Origen{
    width: 340px;
    height: 390px;
}

#FightClub{
    width: 340px;
    height: 390px;
}

#TheIntern{
    width: 340px;
    height: 390px;
}

#Cosas{
    width: 340px;
    height: 390px;
}

#NottingHill{
    width: 340px;
    height: 390px;
}

footer{
    background-color: rgb(108, 52, 131);
    padding: 20px;
    bottom: 0;
    width: 97%;
}

footer h4 {
    color: rgb(202, 207, 210);
    display: flex;
    justify-content: center;
}

/* Detalle */

.Buscar{
    font-size: 20px;
    border-radius: 1px;
}

#PortaDivs{
    background-image: url("../img/FIght Club.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    height: 70vh;
}

#Estrellas{
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

#Titulo{
    font-size: 50px;
    margin-left: 20px;
    color: rgb(213, 219, 219);
}

#Caracteristicas{
    background-color: rgb(187, 143, 206);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#Data{
    margin-right: 15px;
}

#Descripcion{
    margin-left: 20px;
    font-size: 20px;
}

/* Favoritos */

.FavMain{
    margin-bottom: 150px;
}
.Favoritas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.Titulofav{
    margin-left: 10px;
    color: rgb(202, 207, 210)
}

.Peli{
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Busqueda */

.Buscador{
    margin-bottom: 100px;
}

.Busqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nombre{
    text-align: center;
}




